@import "../../assets/css/valiables.scss";
.show-list{
  .title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3px;
    background: $light-grey
  }
  img{
    width: 25px;
  }
  h4{
    color:$main-color-darck;
    font-size: 13px;
    text-align: left;
    margin-right: 5px;
    white-space: nowrap; 
    overflow: hidden;
  }
  .item{
    padding: 15px;
    background:$light-grey;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}