@import "../../assets/css/valiables.scss";

.item {
  td{
    text-align: center;
  }
  h2{
    color:$main-color-darck;
    text-align: left;
    font-size: 1.5rem;
  }
  p{
    text-align: left;
    min-width: 117px;
  }
}
.icon{
  width: 30px;
  margin-left: 5px;
}
.done{
  width: 130px;
}