.list-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3vh 10vh;
    @media only screen and (max-width: 1024px) {
        padding: 3vh 3vh;
    }
    @media only screen and (max-width: 768px) {
       flex-direction: column;
       h3{
           font-size: 1.1rem;
       }
    }
}